snippet html5
	<!doctype html>
	<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Example</title>
		<meta name="description" content="put description here">
		<meta name="author" content="your name">
	</head>
	<body>
		<h1>Hi</h1>
	</body>
	</html>
