snippet //
	/* ${0} */

snippet inc
    #include <${0}>

snippet fun
    ${1} {
        ${0}
    }

snippet for
    for (${1}; ${2}; ${3}) {
        ${0}
    }

snippet do
    do {
        ${1}
    } while (${0})
