snippet template
    <template>
      ${1}
    </template>

    <script setup>
    ${0}
    </script>
snippet {{
	{{ ${0} }}
snippet script
    <script>
    ${0}
    </script>
snippet setup
    <script setup>
    ${0}
    </script>
